
<table class="tabela" border="0">
<tbody>
<tr>
<td>No.</td>
<td>Code</td>
<td>Class</td>
<td>No. of classes</td>
</tr>
<tr>
<td>1</td>
<td>SDA</td>
<td><a href="https://www.it-akademija.com/kurs-software-design-and-architecture">Software Design and Architecture</a></td>
<td>24</td>
</tr>
<tr>
<td>2</td>
<td>RSD</td>
<td><a href="https://www.it-akademija.com/kurs-user-requirements-specification-and-documentation">User Requirements, Specification and Documentation</a></td>
<td>16</td>
</tr>
<tr>
<td>3</td>
<td>SQI</td>
<td><a href="https://www.it-akademija.com/kurs-software-quality-introduction">Software Quality Introduction</a></td>
<td>20</td>
</tr>
<tr>
<td>4</td>
<td>ASS</td>
<td><a href="https://www.it-akademija.com/kurs-application-and-server-security">Application and Server Security</a></td>
<td>16</td>
</tr>
<tr>
<td>5</td>
<td>DAS</td>
<td><a href="https://www.it-akademija.com/kurs-database-administration-and-security">Database Administration and Security</a></td>
<td>28</td>
</tr>
<tr>
<td>6</td>
<td>PJP</td>
<td><a href="https://www.it-akademija.com/kurs-python-java-programming-language">Python / Java Programming Language</a></td>
<td>32</td>
</tr>
<tr>
<td>7</td>
<td>EL1/GL1</td>
<td><a href="/english-language-prvi-online-kurs">English Language 1</a>&nbsp;/&nbsp;<a href="/kurs-nemacki-jezik-a1">German Language A1</a>*</td>
<td>online</td>
</tr>
</tbody>
</table>
